
{% extends "base.html" %}

{%load staticfiles%}

{% block head_title %} CHANGE PASSORD {% endblock %}

{% block sidebar_block %}

 {% for message in messages %}
    <div class="alert {{ message.tag }} alert-dismissible" role="alert" >
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">&times;</span>
       </button>
        {{ message }}
         
   </div>
   {% endfor %}
<div>
<h4><center> <font color="1589FF"> Change Password</font></h4></center>
</div>
    
<form id="ChangePswd" method="post" action="/Qbank/changepassword/" enctype="multipart/form-data">  


{% csrf_token %}

{{ ChangePswd }}

<center><button class="btn btn-primary" type="submit">Save</button></center>

</form>

{% endblock %}
